:root{
  --Primary: #F5C518;
  --gray:#1A1A1A;
  --grayHover:#4a4a4a;
  --black:#000000;
  --blue:#3299EF;
  --grayicone:#757575;
  --graytext:#BBBBBB;
  --borderInput:#b1b1b1;
  --white:#ffffff;
  --verticalBorder:#ffffff29;
  --iconText:#5799ef;
 }
 
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
 }
 .vertical-divider{
  height: 100%;
  min-height: 32px;
  width: 4px;
  border-radius: 4px;
 }



