
.container{
    padding: 7px 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .3s ;
    margin:0px 4px ;
    border-radius: 7px;
}
.container:hover{
    background-color: var(--grayHover);
    
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;

}

.title{
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    white-space: nowrap;
    text-wrap: nowrap;
    margin: 0px 3px;
}

@media screen and (max-width:1000px) {
    .container[data-name='imdbPro']{
        display: none;
    } 
    .container[data-name='menu']{
        display: none;
    }
    .container[data-name='whatchlist']{
        display:none;
    }
    .container[data-name='lan']{
        display: none;
    }
    

}
@media screen and (max-width:768px) {
    
}

