.headTitle{
    width: 30%;
    background-color: rgba(40, 39, 39, 0.37);
    height: 100%; 
    }
.txtTitle{
    font-size: 25px;
    font-weight: 600;
    color: rgb(245,197,24);
    text-align: left;
}
.textDiv{
    width: 100%;
    height: 50px;
}

